build/
cmake-build-debug/
swig/python/build/
.idea/
.vscode/

*.swp
*.so
*.pyc
*.o
*.Rout

geoda_proxy_wrap.cxx
libgeoda.dylib
swig/python/libgeoda.py
swig/R/geoda_proxy_wrap.cpp
swig/R/geoda_proxy_wrap.cpp
swig/R/.RData
swig/R/.Rhistory
swig/R/.Rhistory
