build/
cmake-build-debug/
swig/python/build/
.idea/
.vscode/
msvc/Release/
msvc/ipch/
msvc/x64/
msvc/test_geoda/x64/
msvc/test_geoda/Release/
deps/lib/x64/dev
deps/lib/x86/dev

*.filters
*.user
*.sdf
*.swp
*.so
*.pyc
*.o
*.Rout
*.exp
*.obj
*.manifest
*.suo
*..DS_Store
*.opensdf

geoda_proxy_wrap.cxx
libgeoda.dylib
swig/python/libgeoda.py
swig/R/geoda_proxy_wrap.cpp
swig/R/geoda_proxy_wrap.cpp
swig/R/.RData
swig/R/.Rhistory
swig/R/.Rhistory
deps/lib/.DS_Store
msvc/geoda.suo
*.opensdf
